In [4]:
import numpy as np

In [5]:
import logging
import os
import pandas as pd
from common import indicators
import sys
from datetime import datetime, timedelta
from common.get_api_data import *

logging.basicConfig(level=logging.INFO)
import common.application as ap
import pytz
from sklearn.preprocessing import MinMaxScaler

In [6]:
token='408065' # infy
token='738561' # infy
token = '3676417' # Apolo pipes
token="738561" # reliance

In [7]:
import pytz
tz = pytz.timezone('Asia/Kolkata')
def getDateTime():
    datetime_obj_hour_fwd = datetime.now(tz)
    return datetime_obj_hour_fwd


datetime_obj_hour_fwd = getDateTime() + timedelta(hours=1)
from_date = str(datetime_obj_hour_fwd - timedelta(days=14)).split(" ")[0]
to_date = str(datetime_obj_hour_fwd).split(" ")[0]
historical_data=""
interval="10minute"

In [ ]:
historical_data=get_data(token,from_date,to_date,interval,historical_data,counter=0)
token

In [ ]:
df=pd.DataFrame(historical_data)
window = 20
no_of_std = 2
rolling_mean = df['close'].rolling(window).mean()
rolling_std = df['close'].rolling(window).std()

df['Bollinger High'] = rolling_mean + (rolling_std * no_of_std)
df['Rolling Mean'] = rolling_mean
df['Bollinger Low'] = rolling_mean - (rolling_std * no_of_std)

# Graph Plot

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(16,8))
plt.plot(df[258-50:].date,df[258-50:]['Rolling Mean'],df[258-50:].date,df[258-50:]['Bollinger High'],df[258-50:].date,df[258-50:]['Bollinger Low'])
plt.ylabel('some numbers')
plt.show()

# Scale the Data

In [ ]:
l=[]
for i in range(0,df.shape[0]):
    l.append(i)
    
scaler = MinMaxScaler()

In [ ]:

df['diff_a']=(df['Bollinger High']-df['Bollinger Low']).round(2)
L=pd.DataFrame(np.around(scaler.fit_transform(df.filter(['diff_a']).values), decimals=2),columns=['DIFF'])
L['key']=l
B=pd.DataFrame(np.around(scaler.fit_transform(df.filter(['Bollinger Low']).values), decimals=2),columns=['LB'])
B['key']=l
H=pd.DataFrame(np.around(scaler.fit_transform(df.filter(['Bollinger High']).values), decimals=2),columns=['LH'])
H['key']=l
k=B.merge(H,on='key')
k=k.merge(L,on='key')
df['key']=l
df_u=df.merge(k,on=['key'],how="inner")
df_u['diff']=(df_u.LH-df_u.LB)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(16,8))
df_k=df_u[258-50:]
plt.plot(df[258-50:].date,df_k['Rolling Mean'],df_k.date,df_k['Bollinger High'],df_k.date,df_k['Bollinger Low'],df_k.date,df_k['LB'])
plt.ylabel('some numbers')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(16,4))
df_k=df_u[258-110:]
plt.plot(df_k.date,df_k['LB'])
plt.ylabel('some numbers')
plt.show()

In [ ]:
df_u['diff']=(df_u.LH-df_u.LB)
df_u['diff_a']=(df_u['Bollinger High']-df_u['Bollinger Low'])

In [ ]:
D=0
df_u[265-D:]
L=pd.series(np.around(scaler.fit_transform(df_u[265-D:].filter(['diff_a']).values), decimals=1),columns=['DIFF_S'])
L['key']=l[265-D:]
df_u[265-D:].merge(L,on='key').to_csv("report.csv")

In [ ]:

df_u.round(0).to_csv("screening.csv",index=False)

In [ ]:
df_u[:267].diff_a.round(0)

In [ ]:
from scipy import interpolate
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(-15,15,100)

In [ ]:
y = np.sin(x)

In [ ]:
y

In [ ]:
tck = interpolate.splrep(x,y)

In [ ]:
tck

In [ ]:
plt.plot(x,y)

In [ ]:
x=[5,10,15,20]

In [ ]:
y=[47,45,44,5]

In [ ]:
plt.plot(x,y)
tck = interpolate.splrep(x,y)
x0 = 15
y0= 44
y0 = interpolate.splev(x0,tck)
dydx = interpolate.splev(x0,tck,der=1)
plt.plot(x,tngnt(x), label="tangent")
tngnt = lambda x: dydx*x + (y0-dydx*x0)

In [ ]:
dydx

In [ ]:
plt.plot(x,y)
plt.plot(x0,y0, "or")


plt.legend()
plt.show()

In [ ]:
tngnt(x)

In [ ]:
plt.plot(x,tngnt(x), label="tangent")

In [ ]:
y=np.array(df_u['Rolling Mean'][240:265])

In [ ]:
counter=0
x_list=[]
for i in y:
    x_list.append(counter*10)
    counter=counter+1
x=np.array(x_list)

In [ ]:
x

In [ ]:
plt.plot(x,y)
tck = interpolate.splrep(x,y)
c=23
x0 = x[c]
y0= y[c]
y0 = interpolate.splev(x0,tck)
dydx = interpolate.splev(x0,tck,der=1)
plt.plot(x,tngnt(x), label="tangent")
tngnt = lambda x: dydx*x + (y0-dydx*x0)

In [ ]:

def is_swing(df):
    temp_df = df.iloc[-3:]
    if holding == 'up':
        high_values = list(temp_df['high'])
        if high_values[2] < high_values[0] < high_values[1]:
            return True
    else:
        low_values = list(temp_df['low'])
        if low_values[1] < low_values[0] < low_values[2]:
            return True

In [ ]:
from common import indicators

In [ ]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
current_price = get_price(token, 0.0)
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df = indicators.RSI(df,period=14)
df=indicators.SMA(df, "close", "sma_7", 7)
df['RSI_Trend'] = df['RSI_14'].diff()
window = 20
no_of_std = 2
rolling_mean = df['close'].rolling(window).mean()
rolling_std = df['close'].rolling(window).std()
df['ub'] = rolling_mean + (rolling_std * no_of_std)
df['mb'] = rolling_mean
df['lb'] = rolling_mean - (rolling_std * no_of_std)
df['band_diff']=(df['ub']-df['lb']).round(2)
df['band_diff_trend'] = df['band_diff'].diff().round(2)
df['band_diff_trend_fited']=pd.Series(np.around(scaler.fit_transform(df.filter(['band_diff_trend'])), decimals=2).reshape(df.shape[0])*10)
tail_dict = df.tail(1).to_dict('list')

sma = tail_dict['sma_7'][0]
rsi = tail_dict['RSI_14'][0]
rsi_slope = tail_dict['RSI_Trend'][0]
last_close = tail_dict['close'][0]
last_low = tail_dict['low'][0]
last_high = tail_dict['high'][0]
ub=tail_dict['ub'][0]
mb=tail_dict['mb'][0]
lb=tail_dict['lb'][0]


df['trend_diff']=10*(pd.Series(np.around(scaler.fit_transform(df.filter(['ub'])), decimals=2).reshape(df.shape[0]))-pd.Series(np.around(scaler.fit_transform(df.filter(['lb'])), decimals=2).reshape(df.shape[0])))
band_diff_trend=tail_dict['band_diff_trend'][0]

In [ ]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
current_price = get_price(token, 0)
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df = indicators.RSI(df,period=14)
df=indicators.SMA(df, "close", "sma_7", 7)
df['RSI_Trend'] = df['RSI_14'].diff()
window = 20
no_of_std = 2
rolling_mean = df['close'].rolling(window).mean()
rolling_std = df['close'].rolling(window).std()
df['ub'] = rolling_mean + (rolling_std * no_of_std)
df['mb'] = rolling_mean
df['lb'] = rolling_mean - (rolling_std * no_of_std)
df['band_diff']=(df['ub']-df['lb']).round(2)
df['band_diff_trend'] = df['band_diff'].diff().round(0)
tail_dict = df.tail(1).to_dict('list')

sma = tail_dict['sma_7'][0]
rsi = tail_dict['RSI_14'][0]
rsi_slope = tail_dict['RSI_Trend'][0]
last_close = tail_dict['close'][0]
last_low = tail_dict['low'][0]
last_high = tail_dict['high'][0]
ub=tail_dict['ub'][0]
mb=tail_dict['mb'][0]
lb=tail_dict['lb'][0]
band_diff_trend=tail_dict['band_diff_trend'][0]

In [ ]:
df.to_csv("trend_reliance.csv")

In [ ]:
df

In [ ]:
np.around(scaler.fit_transform(df.filter(['band_diff_trend'])), decimals=1).reshape(df.shape[0])

In [ ]:
df.shape[0]

In [ ]:
vector_1 = [13, 1]
vector_2 = [14, 0]

unit_vector_1 = vector_1 / np.linalg.norm(vector_1)
unit_vector_2 = vector_2 / np.linalg.norm(vector_2)
dot_product = np.dot(unit_vector_1, unit_vector_2)
angle = np.arccos(dot_product)

In [ ]:
unit_vector_1

In [ ]:
np.linalg.norm(vector_1)

In [ ]:
np.linalg.norm(vector_2)

In [ ]:
unit_vector_1

In [ ]:

p0=(0,1236.111911



)
p1=(1,1238.181779





)
p2=(2,1237.873559





)
p3=(30,1218.149039)

In [ ]:
v1=[p0[0]-p1[0],p0[1]-p1[1]]
v2=[p2[0]-p1[0],p2[1]-p1[1]]

In [ ]:
v1,v2

In [ ]:
def magnitude(v):
    return (v[0]**2+v[1]**2)**(1/2)

In [ ]:
np.dot(v1,v2)/(magnitude(v1)*magnitude(v2))

In [ ]:
np.arccos(np.dot(v1,v2)/(magnitude(v1)*magnitude(v2)))*180/3.14

In [ ]:
import logging
import os
import pandas as pd
from common import indicators
import sys
from datetime import datetime, timedelta
from common.get_api_data import *

logging.basicConfig(level=logging.INFO)
import common.application as ap
import pytz
#from simulator import place_order as simulator
from common.SlackUtil import sendMessage

In [ ]:
def getDateTime():
    datetime_obj_hour_fwd = datetime.now(tz)+timedelta(seconds=74)
    return datetime_obj_hour_fwd

from_date = str(getDateTime() - timedelta(days=14)).split(" ")[0]
app_properties = ap.app_properties
token_mappings = ap.token_mappings
csv_mapping = ap.csv_mapping

api_key = app_properties['api_key']
api_secret = app_properties['api_secret']
token ="340481"
os.makedirs(token, exist_ok=True)
file_name = "trades.csv"
tz = pytz.timezone('Asia/Kolkata')
logger = logging.getLogger('algo_tester')
# global define
profit = 0.019
stop_loss = 0.0095
historical_data = ""
rsi = 0.00
rsi_slope = 0.00
last_close = 0.00
last_high = 0.00
last_low = 0.00
last_price = get_price(token, 0.00)
current_price = 0.00
holding = ""
order_id = ""
swing = False
flag = ''
interval=10
rsi_count=0
sma_triggered=False
extrema_triggered=False
activation=''

In [ ]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
to_date = str(getDateTime() - timedelta(minutes=2)).split(".")[0]
current_price = get_price(token, 0)
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df = indicators.RSI(df,period=14)
df=indicators.SMA(df, "close", "sma_7", 7)
df['RSI_Trend'] = df['RSI_14'].diff()
window = 20
no_of_std = 2
rolling_mean = df['close'].rolling(window).mean()
rolling_std = df['close'].rolling(window).std()
df['ub'] = rolling_mean + (rolling_std * no_of_std)
df['mb'] = rolling_mean
df['lb'] = rolling_mean - (rolling_std * no_of_std)
df['band_diff']=(df['ub']-df['lb']).round(2)
df['band_diff_trend'] = df['band_diff'].diff().round(0)
tail_dict = df.tail(1).to_dict('list')

sma = tail_dict['sma_7'][0]
rsi = tail_dict['RSI_14'][0]
rsi_slope = tail_dict['RSI_Trend'][0]
last_close = tail_dict['close'][0]
last_low = tail_dict['low'][0]
last_high = tail_dict['high'][0]
ub=tail_dict['ub'][0]
mb=tail_dict['mb'][0]
lb=tail_dict['lb'][0]
band_diff_trend=tail_dict['band_diff_trend'][0]

In [ ]:
df[-3:]

In [ ]:
ub_array=list(df.ub[-3:])

In [ ]:
def magnitude(v):
    return (v[0]**2+v[1]**2)**(1/2)

def compute_angle(arr):
    arr=arr.split(",")
    p0=(0,float(arr[0]))
    p1=(10,float(arr[1]))
    p2=(20,float(arr[2]))
    v1=[p0[0]-p1[0],p0[1]-p1[1]]
    v2=[p2[0]-p1[0],p2[1]-p1[1]]
    m1=magnitude(v1)
    m2=magnitude(v2)
    
    return 180-np.arccos(np.dot(v1,v2)/(magnitude(v1)*magnitude(v2)))*180/3.14

In [ ]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
to_date = '2020-04-23 10:45:19'
current_price = get_price(token, 0)
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df = indicators.RSI(df,period=14)
df=indicators.SMA(df, "close", "sma_7", 7)
df['RSI_Trend'] = df['RSI_14'].diff()
window = 20
no_of_std = 2
rolling_mean = df['close'].rolling(window).mean()
rolling_std = df['close'].rolling(window).std()
df['ub'] = rolling_mean + (rolling_std * no_of_std)
df['mb'] = rolling_mean
df['lb'] = rolling_mean - (rolling_std * no_of_std)
df['band_diff']=(df['ub']-df['lb']).round(2)
df['band_diff_trend'] = df['band_diff'].diff().round(0)
df['3_ub_point']=df.ub.shift(2).apply(str)+","+    df.ub.shift(1).apply(str)+","+    df.ub.apply(str)
df['3_lb_point']=df.lb.shift(2).apply(str)+","+    df.lb.shift(1).apply(str)+","+    df.lb.apply(str)
df['divergence_angle']=df['3_ub_point'].apply(compute_angle)+df['3_lb_point'].apply(compute_angle)
df['divergence_col']=df.apply(lambda x:  "divergence" if 40 <=x['divergence_angle']<=80 and x['band_diff']>0 else '',axis=1)
df.to_csv("reliance.csv")

In [ ]:
df

In [ ]:
str(getDateTime() - timedelta(minutes=2)).split(".")[0]

In [ ]:
x=df
x['derived']=x.f_ub.apply(str)+","+x.s_ub.apply(str)+","+x.ub.apply(str)

In [ ]:
x['derived']

In [ ]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
to_date = '2020-04-23 10:50:19'
current_price = get_price(token, 0)
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df[-1:]

In [ ]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
to_date = '2020-04-23 10:45:19'
current_price = get_price(token, 0)
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df[-1:]

In [ ]:
df

In [ ]:
1366.90
2020-04-23 10:35:00+05:30
1371.00
1361.00
1370.60
913768

In [9]:
global historical_data, rsi, rsi_slope, last_close, swing,last_high,last_low,sma,ub,mb,lb,band_diff_trend,current_price
swing = False
to_date = str(getDateTime() - timedelta(minutes=2)).split(".")[0]
to_date="2020-04-24 12:55"
historical_data = get_data(token, from_date, to_date, "10minute", historical_data)
df = pd.DataFrame(historical_data)
df = indicators.RSI(df,period=14)
df=indicators.SMA(df, "close", "sma_7", 7)
df['RSI_Trend'] = df['RSI_14'].diff()
window = 20
no_of_std = 2
rolling_mean = df['close'].rolling(window).mean()
rolling_std = df['close'].rolling(window).std()
df['ub'] = rolling_mean + (rolling_std * no_of_std)
df['mb'] = rolling_mean
df['lb'] = rolling_mean - (rolling_std * no_of_std)
df['ub_tren']= df['ub'].diff().round(0)
df['lb_tren']= df['lb'].diff().round(0)
df['3_ub_point']=df.ub.shift(2).apply(str)+","+    df.ub.shift(1).apply(str)+","+    df.ub.apply(str)
df['3_lb_point']=df.lb.shift(2).apply(str)+","+    df.lb.shift(1).apply(str)+","+    df.lb.apply(str)
df['divergence_angle']=df['3_ub_point'].apply(compute_angle)+df['3_lb_point'].apply(compute_angle)
df['divergence_col']=df.apply(lambda x:  "divergence" if 25 <=x['divergence_angle']<=100 and x['ub_tren']>=0 and x['lb_tren']<=0 and x['ub_tren']!=x['lb_tren'] else '',axis=1)
tail_dict = df.tail(1).to_dict('list')

sma = tail_dict['sma_7'][0]
rsi = tail_dict['RSI_14'][0]
rsi_slope = tail_dict['RSI_Trend'][0]
last_close = tail_dict['close'][0]
last_low = tail_dict['low'][0]
last_high = tail_dict['high'][0]
ub=tail_dict['ub'][0]
mb=tail_dict['mb'][0]
lb=tail_dict['lb'][0]


df.to_csv("reliance.csv")

get_data exception  0
get_data exception  1
get_data exception  2
get_data exception  3
returning old history_df

ValueError: DataFrame constructor not properly called!

In [ ]:
kite=get_session()

In [25]:
import requests
import json
data=requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=NSE:INFY&interval=5min&apikey=TBWTGY6OPT64GV03&datatype=json").content
data=json.loads(data)

In [41]:
pd.DataFrame(data['Time Series (5min)']).transpose().reindex()

                      1. open   2. high    3. low  4. close 5. volume
2020-04-24 05:55:00  660.2500  661.4500  659.7500  661.0000     93016
2020-04-24 05:50:00  656.9000  660.4000  656.4500  660.2500    169936
2020-04-24 05:45:00  656.3500  657.6000  655.6500  656.7000    202198
2020-04-24 05:40:00  658.2000  658.8000  655.5000  656.2500    164571
2020-04-24 05:35:00  657.9500  659.1500  657.0000  658.0500    117139
2020-04-24 05:30:00  661.9500  662.0000  657.1000  657.8000    144115
2020-04-24 05:25:00  661.7000  662.3500  661.0000  662.0000     57376
2020-04-24 05:20:00  662.5500  663.0000  661.4000  661.7000     64709
2020-04-24 05:15:00  662.3000  663.8500  662.0000  662.5000     69642
2020-04-24 05:10:00  662.3500  663.6000  660.3000  662.0000    121396
2020-04-24 05:05:00  659.1000  661.9500  658.3000  661.9500    123034
2020-04-24 05:00:00  658.4000  660.0500  658.1000  659.0500     89175
2020-04-24 04:55:00  657.8000  658.2500  656.5000  658.2500     97688
2020-04-24 04:50:00  659.4500  659.7000  657.5000  657.8000     44154
2020-04-24 04:45:00  660.7500  661.0000  658.3000  659.7000     35717
2020-04-24 04:40:00  658.9500  661.7500  658.5000  660.7500    105388
2020-04-24 04:35:00  659.5500  659.6500  658.1000  658.6000     60587
2020-04-24 04:30:00  659.0000  660.9500  658.6000  659.3500     66670
2020-04-24 04:25:00  657.7000  660.0000  657.2000  659.0000     42221
2020-04-24 04:20:00  659.5000  659.5500  657.3000  657.7000     49542
2020-04-24 04:15:00  660.5000  660.7500  659.5000  659.5000     28043
2020-04-24 04:10:00  661.0500  661.6000  660.0000  660.4500     18028
2020-04-24 04:05:00  660.0500  661.5000  659.9000  661.4000     30628
2020-04-24 04:00:00  660.3500  660.7200  660.0200  660.1000     44925
2020-04-24 03:55:00  660.5500  660.9500  660.1500  660.3000     14399
2020-04-24 03:50:00  660.7000  660.8500  660.0000  660.5000     25731
2020-04-24 03:45:00  661.6000  662.0000  659.9500  660.8000     32709
2020-04-24 03:40:00  660.0500  661.7500  659.7000  661.5500     38074
2020-04-24 03:35:00  659.6500  660.5000  658.7500  660.0000     38314
2020-04-24 03:30:00  660.3500  660.5000  658.8500  659.7000     19132
...                       ...       ...       ...       ...       ...
2020-04-24 00:05:00  667.6500  671.4500  667.3000  671.1500    131810
2020-04-24 00:00:00  669.6000  670.1000  667.2500  667.4500    132459
2020-04-23 23:55:00  673.1500  673.6000  667.8000  669.6500    178271
2020-04-23 23:50:00  673.4000  675.0000  669.1000  673.5000    194171
2020-04-23 23:45:00  668.4500  673.7500  665.4000  673.6500         0
2020-04-23 05:55:00  675.0500  675.8500  674.2000  675.5000    240581
2020-04-23 05:50:00  680.0500  680.1500  675.0000  675.2000    458563
2020-04-23 05:45:00  680.3000  680.8500  679.6000  680.0500    405444
2020-04-23 05:40:00  680.4500  683.3000  680.0000  680.3000    466548
2020-04-23 05:35:00  680.0500  680.5000  679.9000  680.1500    346144
2020-04-23 05:30:00  681.5000  681.8000  679.9500  680.1500    376164
2020-04-23 05:25:00  679.7000  683.2500  679.2500  681.4500    442249
2020-04-23 05:20:00  674.9000  681.4000  674.9000  679.7500    417386
2020-04-23 05:15:00  675.0000  676.5000  674.5000  674.9000    208870
2020-04-23 05:10:00  673.7000  675.5000  672.5000  675.0500    213661
2020-04-23 05:05:00  675.2500  676.3000  673.1500  673.7500    249403
2020-04-23 05:00:00  674.0500  677.2800  672.6800  675.6000    322856
2020-04-23 04:55:00  675.6000  677.5500  672.5000  674.4500    384515
2020-04-23 04:50:00  670.7500  677.5500  670.6500  675.6000    613760
2020-04-23 04:45:00  671.9000  673.5000  670.3500  670.7500    286965
2020-04-23 04:40:00  672.2000  672.2500  670.4500  671.8500    172266
2020-04-23 04:35:00  668.9000  673.9500  668.6500  672.0000    610952
2020-04-23 04:30:00  666.3000  669.0000  665.6000  669.0000    197273
2020-04-23 04:25:00  664.3500  667.4000  663.1000  666.6000    351854
2020-04-23 04:20:00  659.3500  665.0000  658.5500  664.3500    370110
2020-04-23 04:15:00  657.0000  659.5000  656.9500  659.3500     96744
2020-04-23 04:10:00  655.7000  657.4000  655.7000  657.0000     49834
2020-04-23 04:05:00  655.9500  656.0000  654.5000  655.7000     60691
2020-04-23 04:00:00  656.9000  657.6700  655.9700  656.0000     40908
2020-04-23 03:55:00  654.6000  656.8000  654.6000  656.8000     53924

[100 rows x 5 columns]

In [27]:
data

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
  '2. Symbol': 'NSE:INFY',
  '3. Last Refreshed': '2020-04-24 05:55:00',
  '4. Interval': '5min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (5min)': {'2020-04-24 05:55:00': {'1. open': '660.2500',
   '2. high': '661.4500',
   '3. low': '659.7500',
   '4. close': '661.0000',
   '5. volume': '93016'},
  '2020-04-24 05:50:00': {'1. open': '656.9000',
   '2. high': '660.4000',
   '3. low': '656.4500',
   '4. close': '660.2500',
   '5. volume': '169936'},
  '2020-04-24 05:45:00': {'1. open': '656.3500',
   '2. high': '657.6000',
   '3. low': '655.6500',
   '4. close': '656.7000',
   '5. volume': '202198'},
  '2020-04-24 05:40:00': {'1. open': '658.2000',
   '2. high': '658.8000',
   '3. low': '655.5000',
   '4. close': '656.2500',
   '5. volume': '164571'},
  '2020-04-24 05:35:00': {'1. open': '657.9500',
   '2. high': '659.1500',
   '3. low': '657.0000',
   '4. close': '658.0500',
   '5. volume': '117139'},
  '2020-04-24 05:30:00': {'1. open': '661.9500',
   '2. high': '662.0000',
   '3. low': '657.1000',
   '4. close': '657.8000',
   '5. volume': '144115'},
  '2020-04-24 05:25:00': {'1. open': '661.7000',
   '2. high': '662.3500',
   '3. low': '661.0000',
   '4. close': '662.0000',
   '5. volume': '57376'},
  '2020-04-24 05:20:00': {'1. open': '662.5500',
   '2. high': '663.0000',
   '3. low': '661.4000',
   '4. close': '661.7000',
   '5. volume': '64709'},
  '2020-04-24 05:15:00': {'1. open': '662.3000',
   '2. high': '663.8500',
   '3. low': '662.0000',
   '4. close': '662.5000',
   '5. volume': '69642'},
  '2020-04-24 05:10:00': {'1. open': '662.3500',
   '2. high': '663.6000',
   '3. low': '660.3000',
   '4. close': '662.0000',
   '5. volume': '121396'},
  '2020-04-24 05:05:00': {'1. open': '659.1000',
   '2. high': '661.9500',
   '3. low': '658.3000',
   '4. close': '661.9500',
   '5. volume': '123034'},
  '2020-04-24 05:00:00': {'1. open': '658.4000',
   '2. high': '660.0500',
   '3. low': '658.1000',
   '4. close': '659.0500',
   '5. volume': '89175'},
  '2020-04-24 04:55:00': {'1. open': '657.8000',
   '2. high': '658.2500',
   '3. low': '656.5000',
   '4. close': '658.2500',
   '5. volume': '97688'},
  '2020-04-24 04:50:00': {'1. open': '659.4500',
   '2. high': '659.7000',
   '3. low': '657.5000',
   '4. close': '657.8000',
   '5. volume': '44154'},
  '2020-04-24 04:45:00': {'1. open': '660.7500',
   '2. high': '661.0000',
   '3. low': '658.3000',
   '4. close': '659.7000',
   '5. volume': '35717'},
  '2020-04-24 04:40:00': {'1. open': '658.9500',
   '2. high': '661.7500',
   '3. low': '658.5000',
   '4. close': '660.7500',
   '5. volume': '105388'},
  '2020-04-24 04:35:00': {'1. open': '659.5500',
   '2. high': '659.6500',
   '3. low': '658.1000',
   '4. close': '658.6000',
   '5. volume': '60587'},
  '2020-04-24 04:30:00': {'1. open': '659.0000',
   '2. high': '660.9500',
   '3. low': '658.6000',
   '4. close': '659.3500',
   '5. volume': '66670'},
  '2020-04-24 04:25:00': {'1. open': '657.7000',
   '2. high': '660.0000',
   '3. low': '657.2000',
   '4. close': '659.0000',
   '5. volume': '42221'},
  '2020-04-24 04:20:00': {'1. open': '659.5000',
   '2. high': '659.5500',
   '3. low': '657.3000',
   '4. close': '657.7000',
   '5. volume': '49542'},
  '2020-04-24 04:15:00': {'1. open': '660.5000',
   '2. high': '660.7500',
   '3. low': '659.5000',
   '4. close': '659.5000',
   '5. volume': '28043'},
  '2020-04-24 04:10:00': {'1. open': '661.0500',
   '2. high': '661.6000',
   '3. low': '660.0000',
   '4. close': '660.4500',
   '5. volume': '18028'},
  '2020-04-24 04:05:00': {'1. open': '660.0500',
   '2. high': '661.5000',
   '3. low': '659.9000',
   '4. close': '661.4000',
   '5. volume': '30628'},
  '2020-04-24 04:00:00': {'1. open': '660.3500',
   '2. high': '660.7200',
   '3. low': '660.0200',
   '4. close': '660.1000',
   '5. volume': '44925'},
  '2020-04-24 03:55:00': {'1. open': '660.5500',
   '2. high': '660.9500',
   '3. low': '660.1500',
   '4. close': '660.3000',
   '5. volume': '14399'},
  '2020-04-24 03:50:00': {'1. open': '660.7000',
   '2. high': '660.8500',
   '3. low': '660.0000',
   '4. close': '660.5000',
   '5. volume': '25731'},
  '2020-04-24 03:45:00': {'1. open': '661.6000',
   '2. high': '662.0000',
   '3. low': '659.9500',
   '4. close': '660.8000',
   '5. volume': '32709'},
  '2020-04-24 03:40:00': {'1. open': '660.0500',
   '2. high': '661.7500',
   '3. low': '659.7000',
   '4. close': '661.5500',
   '5. volume': '38074'},
  '2020-04-24 03:35:00': {'1. open': '659.6500',
   '2. high': '660.5000',
   '3. low': '658.7500',
   '4. close': '660.0000',
   '5. volume': '38314'},
  '2020-04-24 03:30:00': {'1. open': '660.3500',
   '2. high': '660.5000',
   '3. low': '658.8500',
   '4. close': '659.7000',
   '5. volume': '19132'},
  '2020-04-24 03:25:00': {'1. open': '659.3500',
   '2. high': '660.5000',
   '3. low': '658.0000',
   '4. close': '660.2000',
   '5. volume': '46298'},
  '2020-04-24 03:20:00': {'1. open': '659.6000',
   '2. high': '661.2000',
   '3. low': '658.5500',
   '4. close': '659.2000',
   '5. volume': '61718'},
  '2020-04-24 03:15:00': {'1. open': '661.5000',
   '2. high': '661.5000',
   '3. low': '659.5000',
   '4. close': '659.9500',
   '5. volume': '74715'},
  '2020-04-24 03:10:00': {'1. open': '664.1500',
   '2. high': '664.3000',
   '3. low': '661.1500',
   '4. close': '661.3500',
   '5. volume': '68977'},
  '2020-04-24 03:05:00': {'1. open': '664.7500',
   '2. high': '665.7000',
   '3. low': '664.0500',
   '4. close': '664.3000',
   '5. volume': '48913'},
  '2020-04-24 03:00:00': {'1. open': '666.0100',
   '2. high': '666.4300',
   '3. low': '663.9300',
   '4. close': '664.3100',
   '5. volume': '96338'},
  '2020-04-24 02:55:00': {'1. open': '663.1000',
   '2. high': '666.0000',
   '3. low': '662.8500',
   '4. close': '666.0000',
   '5. volume': '184998'},
  '2020-04-24 02:50:00': {'1. open': '662.2000',
   '2. high': '663.7000',
   '3. low': '661.9000',
   '4. close': '663.0500',
   '5. volume': '55123'},
  '2020-04-24 02:45:00': {'1. open': '661.7500',
   '2. high': '663.0000',
   '3. low': '661.7500',
   '4. close': '662.2000',
   '5. volume': '47763'},
  '2020-04-24 02:40:00': {'1. open': '660.8000',
   '2. high': '661.9000',
   '3. low': '660.0000',
   '4. close': '661.9000',
   '5. volume': '33319'},
  '2020-04-24 02:35:00': {'1. open': '659.8500',
   '2. high': '661.3000',
   '3. low': '659.5000',
   '4. close': '660.7500',
   '5. volume': '32189'},
  '2020-04-24 02:30:00': {'1. open': '661.7500',
   '2. high': '662.4500',
   '3. low': '659.6000',
   '4. close': '660.3000',
   '5. volume': '39505'},
  '2020-04-24 02:25:00': {'1. open': '661.9500',
   '2. high': '662.7500',
   '3. low': '660.3500',
   '4. close': '661.5500',
   '5. volume': '64577'},
  '2020-04-24 02:20:00': {'1. open': '660.5000',
   '2. high': '664.0000',
   '3. low': '660.5000',
   '4. close': '661.9500',
   '5. volume': '167504'},
  '2020-04-24 02:15:00': {'1. open': '658.6500',
   '2. high': '660.5000',
   '3. low': '658.2500',
   '4. close': '660.5000',
   '5. volume': '50019'},
  '2020-04-24 02:10:00': {'1. open': '657.7000',
   '2. high': '658.7000',
   '3. low': '657.2000',
   '4. close': '658.3500',
   '5. volume': '39380'},
  '2020-04-24 02:05:00': {'1. open': '659.0500',
   '2. high': '659.1500',
   '3. low': '656.8500',
   '4. close': '658.0000',
   '5. volume': '104535'},
  '2020-04-24 02:00:00': {'1. open': '659.5400',
   '2. high': '660.3300',
   '3. low': '658.5800',
   '4. close': '658.8400',
   '5. volume': '61421'},
  '2020-04-24 01:55:00': {'1. open': '661.7000',
   '2. high': '661.8000',
   '3. low': '659.0000',
   '4. close': '659.3000',
   '5. volume': '88741'},
  '2020-04-24 01:50:00': {'1. open': '661.0000',
   '2. high': '661.8000',
   '3. low': '660.5500',
   '4. close': '661.7000',
   '5. volume': '24014'},
  '2020-04-24 01:45:00': {'1. open': '660.8000',
   '2. high': '661.8500',
   '3. low': '660.5000',
   '4. close': '661.3000',
   '5. volume': '36841'},
  '2020-04-24 01:40:00': {'1. open': '660.1000',
   '2. high': '661.8000',
   '3. low': '660.1000',
   '4. close': '660.9000',
   '5. volume': '40309'},
  '2020-04-24 01:35:00': {'1. open': '659.9500',
   '2. high': '662.6000',
   '3. low': '659.7000',
   '4. close': '660.6500',
   '5. volume': '70634'},
  '2020-04-24 01:30:00': {'1. open': '660.2000',
   '2. high': '660.5000',
   '3. low': '659.7000',
   '4. close': '659.9000',
   '5. volume': '28224'},
  '2020-04-24 01:25:00': {'1. open': '659.4500',
   '2. high': '660.7000',
   '3. low': '659.3500',
   '4. close': '660.1500',
   '5. volume': '43502'},
  '2020-04-24 01:20:00': {'1. open': '659.0000',
   '2. high': '659.9500',
   '3. low': '659.0000',
   '4. close': '659.6000',
   '5. volume': '41055'},
  '2020-04-24 01:15:00': {'1. open': '659.0500',
   '2. high': '661.0000',
   '3. low': '658.8500',
   '4. close': '659.1000',
   '5. volume': '89499'},
  '2020-04-24 01:10:00': {'1. open': '661.0500',
   '2. high': '661.8500',
   '3. low': '658.0000',
   '4. close': '659.3000',
   '5. volume': '183717'},
  '2020-04-24 01:05:00': {'1. open': '661.9000',
   '2. high': '662.6000',
   '3. low': '661.0000',
   '4. close': '661.0500',
   '5. volume': '37137'},
  '2020-04-24 01:00:00': {'1. open': '662.0500',
   '2. high': '663.0000',
   '3. low': '661.7000',
   '4. close': '661.7000',
   '5. volume': '40877'},
  '2020-04-24 00:55:00': {'1. open': '663.2000',
   '2. high': '663.2500',
   '3. low': '661.0000',
   '4. close': '662.0500',
   '5. volume': '48392'},
  '2020-04-24 00:50:00': {'1. open': '661.9500',
   '2. high': '663.1000',
   '3. low': '661.9500',
   '4. close': '663.1000',
   '5. volume': '75185'},
  '2020-04-24 00:45:00': {'1. open': '663.6500',
   '2. high': '663.8000',
   '3. low': '660.6000',
   '4. close': '661.9000',
   '5. volume': '142965'},
  '2020-04-24 00:40:00': {'1. open': '664.1000',
   '2. high': '664.5500',
   '3. low': '663.5000',
   '4. close': '663.6500',
   '5. volume': '42861'},
  '2020-04-24 00:35:00': {'1. open': '665.0000',
   '2. high': '665.1000',
   '3. low': '663.7000',
   '4. close': '664.2000',
   '5. volume': '71807'},
  '2020-04-24 00:30:00': {'1. open': '665.6500',
   '2. high': '666.5500',
   '3. low': '664.1000',
   '4. close': '665.2000',
   '5. volume': '64528'},
  '2020-04-24 00:25:00': {'1. open': '664.7000',
   '2. high': '665.6500',
   '3. low': '663.5000',
   '4. close': '665.6500',
   '5. volume': '76547'},
  '2020-04-24 00:20:00': {'1. open': '665.7500',
   '2. high': '666.2000',
   '3. low': '664.2500',
   '4. close': '664.8000',
   '5. volume': '78414'},
  '2020-04-24 00:15:00': {'1. open': '666.1500',
   '2. high': '667.0000',
   '3. low': '662.0000',
   '4. close': '665.7500',
   '5. volume': '198008'},
  '2020-04-24 00:10:00': {'1. open': '671.4500',
   '2. high': '671.4500',
   '3. low': '666.0000',
   '4. close': '666.2000',
   '5. volume': '153238'},
  '2020-04-24 00:05:00': {'1. open': '667.6500',
   '2. high': '671.4500',
   '3. low': '667.3000',
   '4. close': '671.1500',
   '5. volume': '131810'},
  '2020-04-24 00:00:00': {'1. open': '669.6000',
   '2. high': '670.1000',
   '3. low': '667.2500',
   '4. close': '667.4500',
   '5. volume': '132459'},
  '2020-04-23 23:55:00': {'1. open': '673.1500',
   '2. high': '673.6000',
   '3. low': '667.8000',
   '4. close': '669.6500',
   '5. volume': '178271'},
  '2020-04-23 23:50:00': {'1. open': '673.4000',
   '2. high': '675.0000',
   '3. low': '669.1000',
   '4. close': '673.5000',
   '5. volume': '194171'},
  '2020-04-23 23:45:00': {'1. open': '668.4500',
   '2. high': '673.7500',
   '3. low': '665.4000',
   '4. close': '673.6500',
   '5. volume': '0'},
  '2020-04-23 05:55:00': {'1. open': '675.0500',
   '2. high': '675.8500',
   '3. low': '674.2000',
   '4. close': '675.5000',
   '5. volume': '240581'},
  '2020-04-23 05:50:00': {'1. open': '680.0500',
   '2. high': '680.1500',
   '3. low': '675.0000',
   '4. close': '675.2000',
   '5. volume': '458563'},
  '2020-04-23 05:45:00': {'1. open': '680.3000',
   '2. high': '680.8500',
   '3. low': '679.6000',
   '4. close': '680.0500',
   '5. volume': '405444'},
  '2020-04-23 05:40:00': {'1. open': '680.4500',
   '2. high': '683.3000',
   '3. low': '680.0000',
   '4. close': '680.3000',
   '5. volume': '466548'},
  '2020-04-23 05:35:00': {'1. open': '680.0500',
   '2. high': '680.5000',
   '3. low': '679.9000',
   '4. close': '680.1500',
   '5. volume': '346144'},
  '2020-04-23 05:30:00': {'1. open': '681.5000',
   '2. high': '681.8000',
   '3. low': '679.9500',
   '4. close': '680.1500',
   '5. volume': '376164'},
  '2020-04-23 05:25:00': {'1. open': '679.7000',
   '2. high': '683.2500',
   '3. low': '679.2500',
   '4. close': '681.4500',
   '5. volume': '442249'},
  '2020-04-23 05:20:00': {'1. open': '674.9000',
   '2. high': '681.4000',
   '3. low': '674.9000',
   '4. close': '679.7500',
   '5. volume': '417386'},
  '2020-04-23 05:15:00': {'1. open': '675.0000',
   '2. high': '676.5000',
   '3. low': '674.5000',
   '4. close': '674.9000',
   '5. volume': '208870'},
  '2020-04-23 05:10:00': {'1. open': '673.7000',
   '2. high': '675.5000',
   '3. low': '672.5000',
   '4. close': '675.0500',
   '5. volume': '213661'},
  '2020-04-23 05:05:00': {'1. open': '675.2500',
   '2. high': '676.3000',
   '3. low': '673.1500',
   '4. close': '673.7500',
   '5. volume': '249403'},
  '2020-04-23 05:00:00': {'1. open': '674.0500',
   '2. high': '677.2800',
   '3. low': '672.6800',
   '4. close': '675.6000',
   '5. volume': '322856'},
  '2020-04-23 04:55:00': {'1. open': '675.6000',
   '2. high': '677.5500',
   '3. low': '672.5000',
   '4. close': '674.4500',
   '5. volume': '384515'},
  '2020-04-23 04:50:00': {'1. open': '670.7500',
   '2. high': '677.5500',
   '3. low': '670.6500',
   '4. close': '675.6000',
   '5. volume': '613760'},
  '2020-04-23 04:45:00': {'1. open': '671.9000',
   '2. high': '673.5000',
   '3. low': '670.3500',
   '4. close': '670.7500',
   '5. volume': '286965'},
  '2020-04-23 04:40:00': {'1. open': '672.2000',
   '2. high': '672.2500',
   '3. low': '670.4500',
   '4. close': '671.8500',
   '5. volume': '172266'},
  '2020-04-23 04:35:00': {'1. open': '668.9000',
   '2. high': '673.9500',
   '3. low': '668.6500',
   '4. close': '672.0000',
   '5. volume': '610952'},
  '2020-04-23 04:30:00': {'1. open': '666.3000',
   '2. high': '669.0000',
   '3. low': '665.6000',
   '4. close': '669.0000',
   '5. volume': '197273'},
  '2020-04-23 04:25:00': {'1. open': '664.3500',
   '2. high': '667.4000',
   '3. low': '663.1000',
   '4. close': '666.6000',
   '5. volume': '351854'},
  '2020-04-23 04:20:00': {'1. open': '659.3500',
   '2. high': '665.0000',
   '3. low': '658.5500',
   '4. close': '664.3500',
   '5. volume': '370110'},
  '2020-04-23 04:15:00': {'1. open': '657.0000',
   '2. high': '659.5000',
   '3. low': '656.9500',
   '4. close': '659.3500',
   '5. volume': '96744'},
  '2020-04-23 04:10:00': {'1. open': '655.7000',
   '2. high': '657.4000',
   '3. low': '655.7000',
   '4. close': '657.0000',
   '5. volume': '49834'},
  '2020-04-23 04:05:00': {'1. open': '655.9500',
   '2. high': '656.0000',
   '3. low': '654.5000',
   '4. close': '655.7000',
   '5. volume': '60691'},
  '2020-04-23 04:00:00': {'1. open': '656.9000',
   '2. high': '657.6700',
   '3. low': '655.9700',
   '4. close': '656.0000',
   '5. volume': '40908'},
  '2020-04-23 03:55:00': {'1. open': '654.6000',
   '2. high': '656.8000',
   '3. low': '654.6000',
   '4. close': '656.8000',
   '5. volume': '53924'}}}

In [ ]:
import requests
import json
data=requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=NSE:INFY&interval=5min&apikey=TBWTGY6OPT64GV03&datatype=csv").content
data=json.loads(data)

In [47]:
pd.DataFrame(requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=NSE:INFY&interval=5min&apikey=TBWTGY6OPT64GV03&datatype=csv").content)

ValueError: DataFrame constructor not properly called!

In [51]:
r

In [55]:
import io

In [81]:
r=requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=NSE:RELIANCE&interval=15min&apikey=TBWTGY6OPT64GV03&datatype=csv")
c=pd.read_csv(io.StringIO(r.content.decode('utf-8')))
c['timestamp']=pd.to_datetime(c.timestamp)+pd.to_timedelta(570, unit='m')

In [84]:
k=c.sort_values(by='timestamp', ascending=True)

In [89]:
pd.DataFrame(k.to_dict())

             timestamp     open     high      low    close   volume
0  2020-04-24 15:15:00  1413.35  1429.95  1411.15  1425.70  1734518
1  2020-04-24 15:00:00  1423.05  1423.65  1406.50  1413.40  2806741
2  2020-04-24 14:45:00  1441.30  1445.00  1418.20  1423.70  2658882
3  2020-04-24 14:30:00  1439.24  1447.10  1436.59  1441.44  1567983
4  2020-04-24 14:15:00  1435.85  1442.55  1431.00  1438.65  1342449
5  2020-04-24 14:00:00  1451.25  1452.45  1423.70  1435.80  3328571
6  2020-04-24 13:45:00  1455.95  1463.00  1445.50  1451.05  1688876
7  2020-04-24 13:30:00  1456.32  1463.93  1451.93  1456.12  1606630
8  2020-04-24 13:15:00  1465.45  1469.55  1455.00  1456.55  1810437
9  2020-04-24 13:00:00  1467.56  1491.58  1462.98  1465.26  4144879
10 2020-04-24 12:45:00  1462.50  1494.90  1462.00  1467.75  5795356
11 2020-04-24 12:30:00  1446.12  1466.54  1443.78  1462.62  2870532
12 2020-04-24 12:15:00  1440.00  1446.00  1432.40  1445.90  1816450
13 2020-04-24 12:00:00  1422.30  1448.80  1421.05  1439.30  4166996
14 2020-04-24 11:45:00  1414.55  1425.00  1408.00  1422.80  2129852
15 2020-04-24 11:30:00  1411.00  1424.25  1410.20  1415.25  2705992
16 2020-04-24 11:15:00  1395.50  1412.60  1395.45  1411.00  2378143
17 2020-04-24 11:00:00  1379.60  1399.00  1379.60  1395.50  1703800
18 2020-04-24 10:45:00  1375.20  1382.00  1374.45  1379.50   394888
19 2020-04-24 10:30:00  1377.84  1383.80  1374.89  1375.84   633285
20 2020-04-24 10:15:00  1374.80  1383.10  1373.10  1378.00   788822
21 2020-04-24 10:00:00  1375.50  1376.85  1368.10  1374.30   785821
22 2020-04-24 09:45:00  1367.00  1378.00  1365.25  1375.50  1212854
23 2020-04-24 09:30:00  1356.35  1368.95  1353.89  1367.10   814585
24 2020-04-24 09:15:00  1350.20  1366.05  1350.00  1356.20   619006
25 2020-04-23 15:15:00  1370.30  1374.50  1370.00  1370.90  1381871
26 2020-04-23 15:00:00  1372.60  1372.85  1366.50  1370.50  1112139
27 2020-04-23 14:45:00  1373.50  1374.00  1366.05  1372.80   647875
28 2020-04-23 14:30:00  1369.91  1375.48  1367.87  1373.61   663153
29 2020-04-23 14:15:00  1373.95  1375.00  1366.05  1369.35   678172
..                 ...      ...      ...      ...      ...      ...
70 2020-04-21 13:45:00  1176.35  1185.30  1174.50  1183.40   776265
71 2020-04-21 13:30:00  1169.79  1180.58  1169.52  1176.94   536049
72 2020-04-21 13:15:00  1176.80  1176.90  1168.00  1169.75   531258
73 2020-04-21 13:00:00  1172.60  1177.70  1164.70  1176.60   918979
74 2020-04-21 12:45:00  1179.20  1180.90  1172.05  1172.75   532932
75 2020-04-21 12:30:00  1176.18  1182.93  1172.73  1179.33   614318
76 2020-04-21 12:15:00  1195.35  1196.60  1171.00  1176.00  1561895
77 2020-04-21 12:00:00  1197.40  1198.90  1195.00  1195.60   244739
78 2020-04-21 11:45:00  1195.45  1200.55  1195.00  1197.40   282738
79 2020-04-21 11:30:00  1198.84  1199.75  1194.45  1195.34   393683
80 2020-04-21 11:15:00  1201.15  1201.90  1196.50  1198.75   412717
81 2020-04-21 11:00:00  1203.20  1205.45  1200.50  1201.15   450989
82 2020-04-21 10:45:00  1202.10  1206.50  1200.55  1203.20   690919
83 2020-04-21 10:30:00  1196.35  1203.58  1193.63  1202.60   533940
84 2020-04-21 10:15:00  1195.40  1198.50  1193.30  1196.40   334923
85 2020-04-21 10:00:00  1196.00  1197.90  1191.00  1195.00   616003
86 2020-04-21 09:45:00  1202.00  1202.30  1194.35  1195.70   691769
87 2020-04-21 09:30:00  1195.06  1206.78  1192.32  1202.06   969618
88 2020-04-21 09:15:00  1211.00  1212.70  1190.00  1194.70  1133472
89 2020-04-20 15:15:00  1241.50  1251.00  1241.50  1243.80   910537
90 2020-04-20 15:00:00  1242.60  1243.45  1236.25  1241.50   829395
91 2020-04-20 14:45:00  1248.30  1248.80  1237.55  1242.30   862325
92 2020-04-20 14:30:00  1253.59  1257.73  1246.22  1248.54   937563
93 2020-04-20 14:15:00  1242.00  1254.80  1241.50  1253.45  1221671
94 2020-04-20 14:00:00  1230.65  1246.35  1229.00  1242.90   867391
95 2020-04-20 13:45:00  1221.90  1238.70  1221.65  1230.10  1496435
96 2020-04-20 13:30:00  1219.34  1222.36  1216.85  1221.69   243910
97 2020-04-20 13:15:00  1215.65  1221.50  1215.55  1219.25   296820
98 2020-04-20 13:00:00  1212.10  1217.50  1212.10  1215.65   199090
99 2020-04-20 12:45:00  1212.50  1215.50  1210.50  1212.30   210815

[100 rows x 6 columns]

TypeError: 'Timedelta' object is not subscriptable

             timestamp    open    high     low   close  volume
99 2020-04-23 13:25:00  654.60  656.80  654.60  656.80   53924
98 2020-04-23 13:30:00  656.90  657.67  655.97  656.00   40908
97 2020-04-23 13:35:00  655.95  656.00  654.50  655.70   60691
96 2020-04-23 13:40:00  655.70  657.40  655.70  657.00   49834
95 2020-04-23 13:45:00  657.00  659.50  656.95  659.35   96744
94 2020-04-23 13:50:00  659.35  665.00  658.55  664.35  370110
93 2020-04-23 13:55:00  664.35  667.40  663.10  666.60  351854
92 2020-04-23 14:00:00  666.30  669.00  665.60  669.00  197273
91 2020-04-23 14:05:00  668.90  673.95  668.65  672.00  610952
90 2020-04-23 14:10:00  672.20  672.25  670.45  671.85  172266
89 2020-04-23 14:15:00  671.90  673.50  670.35  670.75  286965
88 2020-04-23 14:20:00  670.75  677.55  670.65  675.60  613760
87 2020-04-23 14:25:00  675.60  677.55  672.50  674.45  384515
86 2020-04-23 14:30:00  674.05  677.28  672.68  675.60  322856
85 2020-04-23 14:35:00  675.25  676.30  673.15  673.75  249403
84 2020-04-23 14:40:00  673.70  675.50  672.50  675.05  213661
83 2020-04-23 14:45:00  675.00  676.50  674.50  674.90  208870
82 2020-04-23 14:50:00  674.90  681.40  674.90  679.75  417386
81 2020-04-23 14:55:00  679.70  683.25  679.25  681.45  442249
80 2020-04-23 15:00:00  681.50  681.80  679.95  680.15  376164
79 2020-04-23 15:05:00  680.05  680.50  679.90  680.15  346144
78 2020-04-23 15:10:00  680.45  683.30  680.00  680.30  466548
77 2020-04-23 15:15:00  680.30  680.85  679.60  680.05  405444
76 2020-04-23 15:20:00  680.05  680.15  675.00  675.20  458563
75 2020-04-23 15:25:00  675.05  675.85  674.20  675.50  240581
74 2020-04-24 09:15:00  668.45  673.75  665.40  673.65       0
73 2020-04-24 09:20:00  673.40  675.00  669.10  673.50  194171
72 2020-04-24 09:25:00  673.15  673.60  667.80  669.65  178271
71 2020-04-24 09:30:00  669.60  670.10  667.25  667.45  132459
70 2020-04-24 09:35:00  667.65  671.45  667.30  671.15  131810
..                 ...     ...     ...     ...     ...     ...
29 2020-04-24 13:00:00  660.35  660.50  658.85  659.70   19132
28 2020-04-24 13:05:00  659.65  660.50  658.75  660.00   38314
27 2020-04-24 13:10:00  660.05  661.75  659.70  661.55   38074
26 2020-04-24 13:15:00  661.60  662.00  659.95  660.80   32709
25 2020-04-24 13:20:00  660.70  660.85  660.00  660.50   25731
24 2020-04-24 13:25:00  660.55  660.95  660.15  660.30   14399
23 2020-04-24 13:30:00  660.35  660.72  660.02  660.10   44925
22 2020-04-24 13:35:00  660.05  661.50  659.90  661.40   30628
21 2020-04-24 13:40:00  661.05  661.60  660.00  660.45   18028
20 2020-04-24 13:45:00  660.50  660.75  659.50  659.50   28043
19 2020-04-24 13:50:00  659.50  659.55  657.30  657.70   49542
18 2020-04-24 13:55:00  657.70  660.00  657.20  659.00   42221
17 2020-04-24 14:00:00  659.00  660.95  658.60  659.35   66670
16 2020-04-24 14:05:00  659.55  659.65  658.10  658.60   60587
15 2020-04-24 14:10:00  658.95  661.75  658.50  660.75  105388
14 2020-04-24 14:15:00  660.75  661.00  658.30  659.70   35717
13 2020-04-24 14:20:00  659.45  659.70  657.50  657.80   44154
12 2020-04-24 14:25:00  657.80  658.25  656.50  658.25   97688
11 2020-04-24 14:30:00  658.40  660.05  658.10  659.05   89175
10 2020-04-24 14:35:00  659.10  661.95  658.30  661.95  123034
9  2020-04-24 14:40:00  662.35  663.60  660.30  662.00  121396
8  2020-04-24 14:45:00  662.30  663.85  662.00  662.50   69642
7  2020-04-24 14:50:00  662.55  663.00  661.40  661.70   64709
6  2020-04-24 14:55:00  661.70  662.35  661.00  662.00   57376
5  2020-04-24 15:00:00  661.95  662.00  657.10  657.80  144115
4  2020-04-24 15:05:00  657.95  659.15  657.00  658.05  117139
3  2020-04-24 15:10:00  658.20  658.80  655.50  656.25  164571
2  2020-04-24 15:15:00  656.35  657.60  655.65  656.70  202198
1  2020-04-24 15:20:00  656.90  660.40  656.45  660.25  169936
0  2020-04-24 15:25:00  660.25  661.45  659.75  661.00   93016

[100 rows x 6 columns]

In [91]:
pd.read_csv(io.StringIO(r.content.decode(requests.get("https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=IBM&apikey=demo&datatype=csv").content)))

TypeError: decode() argument 1 must be str, not bytes

In [94]:
io.StringIO(r.content.decode(requests.get("https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=IBM&apikey=demo&datatype=csv").content))

TypeError: decode() argument 1 must be str, not bytes

In [107]:
r=requests.get("https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=IBM&apikey=demo&datatype=csv")
c=float(pd.read_csv(io.StringIO(r.content.decode('utf-8')))['price'])

In [108]:
c

124.72

In [109]:
pd.read_csv(io.StringIO(r.content.decode('utf-8')))

,symbol,open,high,low,price,volume,latestDay,previousClose,change,changePercent
0,IBM,122.41,125.0,120.7634,124.72,4920523,2020-04-24,121.35,3.37,2.7771%